<meta charset="UTF-8">
<footer class="footer">
    <div class="footer-top-line"></div>
    <div class="footer-content">
        <p class="footer-title" translate="no">ZOVblox</p>
        <div class="footer-divider"></div>
        <p class="footer-links">
            <a href="https://github.com/TWOCHEG-twink-2/ZOVblox" class="footer-link">репозиторий</a> |
            <a href="https://t.me/twocheg_ai_test_bot" class="footer-link">тг бот</a> |
            <a href="https://discord.gg/4eVSEj9jku" class="footer-link">дс сервер</a>
        </p>
        <div id="contributors">
            <p>Загрузка авторов...</p>
        </div>
    </div>
</footer>
